/*    about.html     */

@keyframes profilePicAnimation {
	0% {
		opacity: 0;
		-webkit-filter: grayscale(10%);
		filter: grayscale(10%);		
	}
	
	70% {
		opacity: 1;
	}
	
	100% {
		opacity: 1;
		-webkit-filter: grayscale(80%);
		filter: grayscale(80%);
	}
}


#header-image-about {
	background: -webkit-linear-gradient(rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.45) 100%), -webkit-radial-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 80%), url('../images/bg-nyc-skyline-bw.jpg') no-repeat center center;
	background-size: cover;
	height: 300px;
	margin-bottom: -150px;
}


#main-content.about {
	
	.img-circle {
		width: 40%;
		opacity: 1;
		-webkit-filter: grayscale(80%);
		filter: grayscale(80%);
		animation: profilePicAnimation 2.5s 0s linear 1;
		-webkit-transition: all .3s; /* Safari */
		transition: all .3s;
		border: 3px solid #ddd;
	
		&:hover {
			-webkit-filter: grayscale(20%);
			filter: grayscale(20%);
			width: 42%;
		}
	
	}
	
	h1 {
		margin-top: 50px;
		font-weight: 700;
	}
	
	section {
		padding: 20px 0 30px 0;
	}
	
	
}



/*     resume.html    */

#header-image-resume {
	background: -webkit-linear-gradient(rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.45) 100%), -webkit-radial-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 80%), url('../images/bg-macbook-cu-bw.jpg') no-repeat center center;
	background-size: cover;
	height: 300px;
}

.banner-text {
	color: #fff;
	padding-top: 200px;
}



#main-content.resume {
	
	h1 {
		font-weight: 700;
	}

}

/*    contact.html   */

#header-image-contact {
	background: -webkit-linear-gradient(rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.45) 100%), -webkit-radial-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 80%), url('../images/bg-golfcourse.jpg') no-repeat center center;
	background-size: cover;
	height: 300px;
}

#main-content.contact {
	
	h1 {
		font-weight: 700;
	}
	
}

ul#contact-social-icons {
		
	list-style: none;
	padding: 0;
		
	li { 
		display: inline-block; 
			
		margin: 20px 48px;
			
		a {
			display: inline-block;
			color: #000;
			
			:hover {
				color: #ccc;
			}
				
			i {
				font-size: 4em;	
			} 
		}
	}
}


/*    portfolio.html    */

#main-content.portfolio {
	
	h1 {
		font-weight: 700;
	}
	
}

.project {
	height: 300px;
	display: table;
	h2 {
		display: table-cell;
		vertical-align: middle;
		color: #fff;
		text-shadow: 0 0 14px #000000;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
	a {
		color: #fff;
		
		&:hover {
			text-decoration: none;
		}
	}
}


// project images

.project {
	
	.project-img {
		
		
		-webkit-filter: blur(0px);
		filter: blur(0px);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		-webkit-transition: all .3s; /* Safari */
		transition: all .3s;	
	}
	
	&.sproutback {
		
		.project-img {
			background: url('../images/sproutback-port.jpg');
			background-size: cover;			
		
		}
	
		&:hover { 
				.project-img {
					-webkit-filter: blur(4px);
					filter: blur(4px);
				}
			
				h2 {
					font-size: 34px;
				}
			
			}
			
	}
	
	&.acorn {
		
		.project-img {
			background: url('../images/acorn-port.jpg');
			background-size: cover;		
		
		}
	
		&:hover { 
				.project-img {
					-webkit-filter: blur(4px);
					filter: blur(4px);
				}
			
				h2 {
					font-size: 34px;
				}
			
			}
			
	}
	
	&.bretteastme {
		
		.project-img {
			background: url('../images/bretteast-port.jpg');
			background-size: cover;		
		
		}
	
		&:hover { 
				.project-img {
					-webkit-filter: blur(4px);
					filter: blur(4px);
				}
			
				h2 {
					font-size: 34px;
				}
			
			}
			
	}
	
	&.brettfirst {
		
		.project-img {
			background: url('../images/brettfirst-port.jpg');
			background-size: cover;		
		
		}
	
		&:hover { 
				.project-img {
					-webkit-filter: blur(4px);
					filter: blur(4px);
				}
			
				h2 {
					font-size: 34px;
				}
			
			}
			
	}
	
	&.justforfun {
		
		.project-img {
			background: url('../images/justforfun-port.jpg');
			background-size: cover;		
		
		}
	
		&:hover { 
				.project-img {
					-webkit-filter: blur(4px);
					filter: blur(4px);
				}
			
				h2 {
					font-size: 34px;
				}
			
			}
			
	}
	
}


/*    single-project   */

.single-project {
	margin-top: 40px;
	margin-bottom: 40px;
}



/*  hireme   */

#header-image-hireme {
	background: -webkit-linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), -webkit-radial-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 90%), url('../images/bg-sup.jpg') no-repeat center center;
	background-size: cover;
	height: 300px;
}

.hireme {
	
	font-size: 16px;
	
	.progress {
		background-color: #dcdcdc;
	}
	.progress-bar {
		text-align: left;
		
		span {	
			margin-left: 10px;
		}
	}
}

.progress-bar {
	&.bar1 {
		background-color: #0ed27d;
	}
	&.bar2 {
		background-color: #d10e56;
	}
	&.bar3 {
		background-color: #0eaed1;
	}
	&.bar4 {
		background-color: #d1a30e;
	}
	&.bar5 {
		background-color: #c40ed1;
	}
	&.bar6 {
		background-color: #0e5fd1;
	}
	&.bar7 {
		background-color: #d10e3c;
	}
}


.hireme li {
	line-height: 1.8em;
	margin-bottom: 20px;
}

.key-enclosure {
	position: relative;
}

.key, .first-key, .last-key {
	
	width: 20%;
	font-size: .8em;
	line-height: 1em;
	display: block;
	float: left;
	padding: 5px 15px;
	position: relative;
	
	&:after {
		content: "";
		background: #000;
		position: absolute;
		top: 0;
		left: 0;
		height: 40px;
		width: 1px;
	}
	
}

.last-key {
	&:before {
		content: "";
		background: #000;
		position: absolute;
		top: 0;
		right: 0;
		height: 40px;
		width: 1px;
	}
}



















